body {
    margin: 0;
}

.video {
    position: fixed;
    z-index: -99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.video iframe {
    width: 100%;
    height: 100%;
    margin-top: -60px;
}

.name {
    width: 100%;
    height: 50px;
    font-size: 40px;
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
}

.name-content {
    display: inline;
}

.product-imagin {
    width: 40%;
    height: 400px;
    text-align: center;
    display: inline-block;

}

.order-button {
    width: 100%;
    height: 33px;
    background-color: chartreuse;
    vertical-align: middle;
    font-size: 25px;
}

a {
    display: block;
}

.characteristics {
    width: 60%;
    height: 400px;
    display: inline-block;
    vertical-align: top;
    margin-left: -4px;
}

.composition {
    height: 600px;
    margin-top: 5px;
}

.composition-title {
    width: 100%;
    height: 50px;
    font-size: 40px;
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(113, 159, 212);
}

.composition-column-1 {
    width: 33%;
    display: inline-block;
    background-color: red;
    height: calc(100% - 50px);
    vertical-align: top;
}

.composition-column-2 {
    width: 33%;
    display: inline-block;
    background-color: rgb(17, 119, 80);
    height: calc(100% - 50px);
    margin-left: 1px;
    text-align: center;
}

.composition-main-image {
    margin-top: 174px;
}

.composition-column-3 {
    width: 33%;
    display: inline-block;
    background-color: rgb(39, 119, 165);
    height: calc(100% - 50px);
    vertical-align: top;
    margin-left: 1px;
}

.reviews {
    height: 600px;
    margin-top: 5px;
}

.reviews-title {
    width: 100%;
    height: 50px;
    font-size: 40px;
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(113, 159, 212);
    margin-bottom: 5px;
}

.review-block {
    width: 100%;
    height: calc((100% - 55px) / 3);
    background-color: skyblue;
}

.review-photo {
    display: inline-block;
}

.review-text {
    width: 800px;
    height: 170px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.promo {
    background: rgba(255, 255, 255, 0.7);
}

.promo-description {
    margin-top: 5px;
    height: 550px;
    background-color: rgb(233, 166, 119);

}

.promo-description-title {
    width: 100%;
    height: 50px;
    font-size: 40px;
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(113, 159, 212);
    margin-bottom: 5px;
}

.promo-description-main-content {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: rgb(206, 219, 83);
}

.promo-photo {
    float: left;
}

.promo-button {
    width: 300px;
    height: 40px;
    margin: 0;
    bottom: 0px;
    position: absolute;
    text-align: center;
    background-color: chartreuse;
    vertical-align: middle;
    font-size: 25px;
}

.promo-text {
    padding: 15px;
    margin-left: 300px;
    height: calc(100% - 30px);
    background-color: rgb(83, 83, 17); 
}

.promo-list-item {
    display: inline;
}

.order-form-title {
    width: 100%;
    height: 50px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    background-color: rgb(113, 159, 212);
    margin-bottom: 5px;
}

.timer-container {
    height: 50px;
    background-color: rgb(230, 140, 140);
    font-size: 40px;
    font-weight: 600;
}

.timer-text {
    height: 100%;
    margin-left: 12vw;
    display: inline-block;
}
.old-price{
    text-decoration: line-through;
    margin-left: 7vw;
    
}
.new-price{
    display: inline-block;
    animation: move 0.5s infinite linear;
    color: red;
    margin-left: 7vw;
}
.timer{
    margin-left: 7vw;
    display: inline-block;
}

.order-form-content {
    width: 100%;
    height: 300px;
    background-color: blue;
}

.order-form-data {
    height: 100%;
    width: 60%;
    background-color: chocolate;
    float: left;
}
.name-input{
    width: 60%;
    height: 35px;
    margin-top: 60px;
    margin-left: 30px;
}
.number-input{
    width: 60%;
    height: 35px;
    margin-top: 20px;
    margin-left: 30px;
}
.checkout-input{
    width: 60%;
    height: 35px;
    margin-top: 20px;
    margin-left: 30px;
}

.order-form-image {
    margin-left: calc(20% - 90px);
    margin-top: 10px;
}

@keyframes move {
    0% {
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}